<h1> Tiny App </h1>
<% if(!username){%>

<form method="POST" action="/login">
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="form-group mb-2"><label for="username">Enter Username:</label>

                <input class="form-control" type="text" name="username" placeholder="Username"
                        style="width: 150px; margin: 2em">
</form>
<% } else { %>
        Hello <%= username %>
<% } %>