<center><h1> Tiny App </h1></center>
<% if(!user){%>
<center><a href="/register"><button type="button" class="btn btn-link">Register</button></a></center>   
<center><a href="/login"><button type="button" class="btn btn-link">Login</button></a></center>
                
</form> 
<% } else { %>
   <center>Logged in as: <%= user.email %></center> 
   <form method="POST" action="/logout">
                <center><button type="submit" class="btn btn-link">logout</button></center>    
        </form></center>
<% } %>

  
